.cart-container {
  margin-top: 100px;
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-info {
  width: 100%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColor);
  padding: 15px 20px;
}

.cart-img {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.cart-img img {
  width: 100%;
  height: 100%;
}

.cart-name {
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}

.cart-price {
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  font-weight: bold;
  text-align: center;
  color: var(--mainColor);
}

.inc,
.dec {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--mainColor);
  font-size: 14px;
  color: var(--mainColor);
  border-radius: 10px;
  cursor: pointer;
}

.quantity {
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}

.total-price {
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}

.delete {
  border: none;
  color: red;
  cursor: pointer;
}

.empty {
  padding: 10px 20px;
  text-align: center;
}

/*  */

.cart-summary {
  width: 25%;
  padding: 0 0 0 20px;
}

.summary {
  background: var(--whiteColor);
  padding: 13px 13px 13px 0;
}

.summary h3 {
  font-size: 18px;
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
}

.total-items {
  display: flex;
  margin: 15px 0;
}

.items {
  width: 50%;
  text-align: left;
}

.items-count {
  width: 50%;
  text-align: right;
  font-weight: 700;
  color: var(--mainColor);
}

.total-summary {
  display: flex;
  margin: 15px 0;
}

.just-title {
  width: 50%;
  text-align: left;
}

.items-price {
  width: 50%;
  text-align: right;
  font-weight: 700;
  color: var(--mainColor);
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
  }
  .cart-img {
    padding: 15px 0;
  }
  .cart-name {
    padding: 15px 0;
    text-align: center;
  }
  .cart-price {
    padding: 15px 0;
  }
  .quantity {
    padding: 15px 0;
  }
  .total-price {
    padding: 15px 0;
  }
  .cart-summary {
    width: 100%;
  }
}
